<agm-map [latitude]="41.281272" [longitude]="-111.954164">
  <ul>
    <li *ngFor="let prop of listings">
      <agm-marker [latitude]="prop.latitude" [longitude]="prop.longitude" [iconUrl]="iconUrl">
        <div class="info-window">
          <agm-info-window [maxWidth]="360">
            <img *ngIf="prop.image.length > 50" class="map-icon-image" src="{{prop.image}}">
            <p>{{prop.address}} {{prop.city}}, {{prop.state}}</p>
            <p> {{prop.bedrooms}} Bedrooms {{prop.bathrooms}} Bathrooms</p>
            <p>{{prop.sqFootage}} Square Feet</p>
          </agm-info-window>
        </div>
      </agm-marker>
    </li>
  </ul>
</agm-map>
