<div *ngIf="canRender" class="container">
  <button class="us-button" (click)="closeDialog()">Close</button>
  <div class="property-data">
    <h2>{{property.listprice}}</h2>
    <p>{{property.housenum}} {{property.dirpre}} {{property.street}}</p>
  </div>
  <div class="main-pic" [style.background-image]="sanitizePic(property.image)"></div>
  <ul class="prop-pics-ul" #picUl>
    <li *ngFor="let pic of pics" class="prop-pics-li" #picLi>
      <div class="prop-pic-li-div" [style.background-image]="sanitizePic(pic.url)">
      </div>
    </li>
  </ul>
  <h1>listno: {{property.listno}}</h1>
</div>
<button class="us-button" (click)="closeDialog()">Close</button>
<!--</div>-->

