.wrapper {
  color: #1a237e;
  /*height: 100vh;*/
}

/*.container {*/
/*display: grid;*/
/*}*/

.us-button {
  margin: .5em 0 .5em 47%;
}

.prop-pic {
  width: 600px;
  height: 400px;
}

.prop-pics-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  list-style: none;
  grid-gap: .5em;
  margin-left: 2em;
  width: 24em;
}

.prop-pic-li-div {
  background-repeat: no-repeat;
  background-size: cover;
  width: 27em;
  height: 19.2em;
  box-shadow: #424242 3px 3px 12px;
}

.data-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em 2em;
  grid-gap: 1em;
}

.address {
  padding: 0 20%;
}

.price {
  margin-left: 35%;
}

#year-built {
  margin-left: 35%;
}

.price span {
  color: #558b2f;
}

.property-data {
  display: grid;
  grid-template-rows: repeat(3, .75fr);
}

.property-data p h1 h2 h3 {
  font-weight: bold;
}

.property-description {
  padding: 0 2em;
}

.property-description p {
  font-weight: bold;
}

.main-pic {
  margin-left: 35%;
  margin-bottom: 1em;
  height: 19em;
  width: 27em;
  box-shadow: #424242 3px 3px 12px;
}

@media screen and (max-width: 775px) {


  .mobile-head-wrapper {
    grid-template-columns: 1fr;
    justify-items: start;
    width: 20em;
  }

  .mobile-head-wrapper h1, h2, h3, h4 {
    width: 95vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .address {
    width: 95vw;
    padding: 0;
    margin: 0;
  }

  .price {
    width: 95vw;
    padding: 0;
    margin: 0;
  }

  #year-built {
    width: 95vw;
    margin: 0;
    padding: 0;
  }

  .property-data {
    grid-template-columns: 1fr;
    justify-items: start;
    padding: 0;
    margin: 0;
  }

  .property-description {
    margin-top: 8px;
    padding: 0;
    text-align: left;
    justify-items: start;
  }

  .property-description p {
    text-align: left;
  }

  .data-wrapper {
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: start;
    margin: 0;
    padding: 0;
  }

  .property-data h4 {
    text-align: left;
  }

  .main-pic {
    width: 100vw;
    height: 15em;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .prop-pics-ul {
    width: 100vw;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }

  .prop-pics-li {
    width: 100vw;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .prop-pic-li-div {
    width: 100vw;
    height: 15em;
    background-size: cover;
    /*background: no-repeat center;*/

  }

  .us-button {
    margin-left: 35%;
  }

}
