.wrapper {
  color: #1a237e;
}

.container {
  display: grid;
  /*grid-template-rows: repeat(4, 1fr);*/
}

.prop-pic {
  width: 600px;
  height: 400px;
}

.prop-pics-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  list-style: none;
  grid-gap: .5em;
  margin-left: 2em;
  width: 95%;
}

.prop-pic-li-div {
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 360px;
  box-shadow: #424242 3px 3px 12px;
}

.data-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em 2em;
  grid-gap: 1em;
}
.address {
  padding: 0 20%;
}

.price {
  margin-left: 35%;
}
#year-built {
  margin-left: 35%;
}

.price span {
  color: #558b2f;

}
.property-data {
  display: grid;
  grid-template-rows: repeat(3, .75fr);
}

.property-data p h1 h2 h3 {
  font-weight: bold;
}

.property-description {
  padding: 0 2em;
}

.property-description p {
  font-weight: bold;
}

.main-pic {
  margin-left: 28%;
  margin-bottom: 1em;
  height: 480px;
  width: 640px;
  box-shadow: #424242 3px 3px 12px;
}
