<div id="icon-upward-arrow" style="text-align:center" (click)="scrollToTop()" #backToTop>
  <fa-icon [icon]="faArrowAltCircleUp"></fa-icon>
  <p>BACK TO TOP</p>
</div>
<!--Desktop Nav-->
<nav class="indigo search-nav hide-on-medium">
  <label for="area-filter"></label>

  <button class="us-button indigo-light-3" (click)="getProperties()" #areaFilterElem>Search</button>
</nav>
<!--Mobile Nav-->
<nav class="search-nav-mobile indigo hide-on-large">
  <input type="text"
         id="area-filter-mobile"
         placeholder="Search Zip Code"
         name="areaFilter"
         [(ngModel)]="areaFilters"
         (submit)="getProperties()"
  >
  <button class="us-button-mobile indigo-light-3" (click)="getProperties()" #areaFilterElem>Search</button>
</nav>
<div class="search-wrapper">
  <div class="map">
    <agm-map [latitude]="lat" [longitude]="long" [zoom]="10">
      <ul>
        <li *ngFor="let prop of properties">
          <agm-marker
            [latitude]="prop.latitude"
            [longitude]="prop.longitude"
            [iconUrl]="iconUrl"
            [title]="prop.listno"
            (markerClick)="test($event)"
          >
            <agm-info-window [maxWidth]="400">
              <img *ngIf="prop.image.length > 50" class="map-icon-image" src="{{prop.image}}">
              <p>{{prop.listprice}}</p>
              <p>{{prop.address}} {{prop.city}}, {{prop.state}}</p>
              <p> {{prop.totbed}} Bedrooms {{prop.totbath}} Bathrooms</p>
            </agm-info-window>
          </agm-marker>
        </li>
      </ul>
    </agm-map>
  </div>
  <div class="side-listings" (scroll)="showBacToTop()" #sideListings>
    <!--<span id="icon-upward-arrow" class="mi mi-arrow-upward"></span>-->
    <ul class="side-listings-ul">
      <li
        *ngFor="let prop of properties"
        class="side-listings-li"
        title="{{prop.listno}}"
        id="{{prop.listno}}"
        (click)="loadProperty($event)"
        [style.background-image]="testSani(prop.image)"
        #listingItem
      >
        <div class="data" title="{{prop.listno}}" (click)="loadProperty($event)">
          <p class="listing-data" title="{{prop.listno}}">{{prop.listprice}} - {{prop.totbed}} Bed {{prop.totbath}}
            Bath {{prop.totsqf}} Square Feet </p>
          <p class="listing-data" title="{{prop.listno}}">{{prop.address}} {{prop.zip}}</p>
          <!--<p class="listing-names">Listed by: {{prop.agtfirst}} {{prop.agtlast}} - {{prop.offname}}</p>-->
          <!--<p class="listing-names">MLS# {{prop.listno}}</p>-->
        </div>
      </li>
    </ul>
  </div>
</div>
