.wrapper {
  background-image: url("../../../assets/images/contact_bg.jpg");
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: #424272;
}

#message {
  border-radius: 5px;
}

.us-form {
  text-align: center;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  padding: 1em;
}

.us-form label {
  margin: 0 2em;
  font-size: 1.5em;
}

@media (min-width: 50px) and (max-width: 380px) {
  .us-form {
    font-size: .5em;
  }
}

.us-form input {
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 2em;
  margin: 0 2em;
}

.us-form textarea {
  width: 80%;
  height: 5em;
}

.us-button {
  height: 3em;
  width: 10em;
  margin: 2% 35%;
  border-radius: 5px;
  border: none;
}
