<div class="wrapper"></div>

<div class="transparent-75 text-white us-form" #contactForm>
  <div class="grey-dark-3 rounded-5 ">
    <h3>Submit Your Contact Info To Get Started</h3>
    <div class="us-input">
      <label for="first-name">First Name</label>
      <br>
      <input type="text" id="first-name" name="firstName" [(ngModel)]="firstName">
    </div>
    <div class="us-input">
      <label for="last-name">Last Name</label>
      <br>
      <input type="text" id="last-name" name="lastName" [(ngModel)]="lastName">
    </div>

    <div class="us-input">
      <label for="email">Email Address</label>
      <br>
      <input type="email" id="email" name="email" [(ngModel)]="email">
    </div>

    <div class="us-input">
      <label for="phone">Phone Number</label>
      <br>
      <input type="number" id="phone" name="phoneNumber" [(ngModel)]="phoneNumber">
    </div>
    <div class="us-input">
      <label for="message">Message</label>
      <br>
      <textarea name="message" id="message" cols="62" rows="3" class="form-controll" [(ngModel)]="message"></textarea>
    </div>
    <br>
    <button class="us-button" (click)="onSubmitContact()">Submit</button>
    <br>
  </div>
</div>
