.wrapper {
  /* margin: 0; */
  position: relative;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
  background-color: #5b5b63;
}

/*
.spacer {
  height: 75vh;
  overflow: hidden;
} */

/* .home-cards {
  display: grid;
  position: absolute;
  justify-self: center;
  align-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 2;
} */

@media (min-width :300px) and (max-width :480px) {
  .home-cards {
    position: relative;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
}

@media(min-width: 100px) and (max-width: 299px) {
  .home-cards {
    position: relative;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
}

.slide span {
  padding: 0 5%;
}

.slide1 {
  background-image: url('../../../assets/images/ranch_house.jpg');
}

.slide2 {
  background-image: url('../../../assets/images/kitchen_white.jpg');
}

.slide3 {
  background-image: url('../../../assets/images/pond_house.jpg');
}

.slide4 {
  background-image: url('../../../assets/images/kitchen_wood_floor.jpg');
}

.slide5 {
  background-image: url('../../../assets/images/kitchen_wood_floor_2.jpg');
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #ffffff;
  text-shadow: #000000 2px 2px 8px;
}



@keyframes fadeIn {
  to {
    opacity: 1;
  }

}

.fade-in {
  animation: fadeIn 1s ease-in 1 forwards;
}

@keyframes zoomIn {
  to {
    transform: scale(1.25, 1.25);
  }
}

.zoom {
  animation: zoomIn 15s ease-in 1 forwards;
  overflow: hidden;
}
