<!-- <button class="btn btn-lg" (click)="doSlideShow();">SLIDE</button> -->
<div class="wrapper">
  <div id="slider">
    <div class="slide slide1" #slide>
      <div class="slide-content">
        <span>Image One</span>
      </div>
    </div>
    <div class="slide slide2" #slide>
      <div class="slide-content">
        <span>Image Two</span>
      </div>
    </div>
    <div class="slide slide3" #slide>
      <div class="slide-content">
        <span>Image Three</span>
      </div>
    </div>
    <div class="slide slide4" #slide>
      <div class="slide-content">
        <span>Image Four</span>
      </div>
    </div>
    <div class="slide slide5" #slide>
      <div class="slide-content">
        <span>Image Five</span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="home-jumbo">
  <h1 class="home-jumbo-text">UTAH HOME AND RANCH REAL ESTATE</h1>
  <h4>

  </h4>
</div> -->

<!-- <ul>
  <li class="float-left">
    <div class="card card-local" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/images/home_rebates_logo_small.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </li>

  <li class="float-left">
    <div class="card card-local" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/images/home_rebates_logo_small.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </li>

  <li class="float-left">
    <div class="card card-local" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/images/home_rebates_logo_small.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </li>
</ul> -->
