<div class="wrapper">
  <div id="slider">
    <div class="slide slide1" #slide>
      <div class="slide-content">
        <span>
          <p class="flow-text">
            Utah Home and Ranch Real Estate
          </p>
        </span>
      </div>
    </div>
    <div class="slide slide2" #slide>
      <div class="slide-content">
        <span>
          <p class="flow-text">Click the contact button to get started</p>
        </span>
      </div>
    </div>
    <div class="slide slide3" #slide>
      <div class="slide-content">
        <span>
          <p class="flow-text">Don't wait for your dream home</p>
        </span>
      </div>
    </div>
    <div class="slide slide4" #slide>
      <div class="slide-content">
        <span>
          <p class="flow-text">And give you a rebate of up to one percent of the sale price!</p>
        </span>
      </div>
    </div>
    <div class="slide slide5" #slide>
      <div class="slide-content">
        <span>
          <p class="flow-text">Where I will put your next real estate transaction on autopilot</p>
        </span>
      </div>
    </div>
  </div>
</div>
