<nav class="navbar">
  <div class="hide-on-medium desktop-nav text-white">
    <div *ngIf="loggedIn" class="box-button hide-on-medium" [routerLink]="['/dashboard']">Dashboard</div>

    <div class="box-button hide-on-medium" [routerLink]="['/']">Home</div>

    <div class="box-button hide-on-medium" [routerLink]="['/contact']">Contact</div>

    <div class="box-button hide-on-medium" [routerLink]="['/about']">About</div>

    <div class="box-button hide-on-medium" [routerLink]="['/search']">Search</div>

    <div *ngIf="loggedIn" class="box-button hide-on-medium" (click)="logOut()">Logout</div>

    <div *ngIf="isAdmin" class="box-button hide-on-medium" [routerLink]="['/dashboard']">Dashboard</div>


  </div>


  <!-- MOBILE NAV -->
  <span class="hide-on-large text-white">
    <a id="mobile-menu-button" #menuButton (click)="openSideNav()">
      <fa-icon [icon]="faBars" class="hide-on-large text-white"></fa-icon>
    </a>
  </span>
  <span class="hide-on-large text-white">
    <a id="side-menu-close-button" #sideMenuCloseButton (click)="closeSideNav()">
      <fa-icon [icon]="faTimes" class="hide-on-large text-white"></fa-icon>
    </a>
  </span>
  <div class="side-menu" #sideMenu>
    <ul class="mobile-navbar-link-list">
      <li (click)="closeSideNav()">
        <div [routerLink]="['/']">Home</div>
      </li>
      <li (click)="closeSideNav()">
        <div [routerLink]="['/contact']">Contact</div>
      </li>
      <li (click)="closeSideNav()">
        <div [routerLink]="['/about']">About</div>
      </li>
      <li (click)="closeSideNav()">
        <div [routerLink]="['/search']">Search</div>
      </li>
    </ul>
  </div>
</nav>
